<launch>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" 
    args="-d $(find ml_person_detection)/rviz/createDataset.rviz"/>

  <param name="/visualize" type="int" value="3" />
  <node name="introspectDataset" pkg="ml_person_detection"
    type="introspectDataset.py" output="screen"/>

</launch>

